---
services:
  traefik:
    command: !override
      - "--ping=true"
      - "--log.level=INFO"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/traefik.d"
      - "--entrypoints.default.address=:80"
      - "--certificatesresolvers.default.acme.httpchallenge=true"
      - "--certificatesresolvers.default.acme.httpchallenge.entrypoint=unsecure"
      - "--certificatesresolvers.default.acme.storage=/letsencrypt/acme.json"
    ports: !override
      - "${TRAEFIK_BIND_ADDRESS:-0.0.0.0}:${TRAEFIK_BIND_PORT:-80}:80"
    volumes: !override
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
